

.footer-container {
	margin-top: auto;
	
	background-color: #d3d3d3;
	color: #131313;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	padding: 25px 0;
}